@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
} 

body {
    background-color: #e1d7d1;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e1d7d1;
    height: 20vh;
    padding: 30px 10%;
    box-shadow: 0 17px 15px -15px gray;
}

.blog__title {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 27.7px;
    text-transform: uppercase;
    margin-right: auto;
}

.blog__title span {
    color: rgb(255,7,110);
}

.nav__links .nav__links2 {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: black;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #0088a9;
}

.search-icon {
    font-size: 1.1em;
    cursor: pointer;
}

button {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.6);
}

.grid__container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px auto;
    grid-template-areas: "A A A A"
    "B B B C";
    gap: 10px;
}

.box-1 {
    grid-area: A;
    display: flex;
    /* background-color: #e1d7d1; */
    background-image: url("/Users/niive/Desktop/My Bag/My Interests/Front End Web Developer Nanodegree/Project 1 - Personal Blog Website/BlogHomepage/images/confetti.jpg");
    background-position: bottom center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 3px;
}

.blogpost__title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

.post__info {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.596);
    text-align: center;
}

.box-2 {
    grid-area: B;
    /* background-color: rgba(128, 128, 128, 0.50); */
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.content p {
    font-family: sans-serif;
    font-weight: 300;
}

.content p span {
    font-weight: bold;
}

.bordered_para {
    border: solid grey 1px;
    padding-bottom: 1.2em;
}

.box-3 {
    grid-area: C;
    background-color: grey;
}

.divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(172, 165, 165, 0.555), transparent); 
}

footer {
    display: flex;
    background: #000000;
    border-top-color: white;
    border-top-style:dotted;
    border-top-width: 1px;
    padding: 0 10%;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
}

.social-icons-container {
    margin-right: auto;
}

.social-icons {
    display: inline-block;
    color: #e1d7d1;
    margin: 0 10px;
    font-size: 1.5em;
}

.social-icons:hover {
    color: #7b7f85;
}

.search-icon {
    font-size: 1.1em;
    cursor: pointer;
}

.nav__links2 li {
    display: inline-block;
    padding: 0px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.nav__links2 li a {
    transition: all 0.3s ease 0s;
    color: #e1d7d1;
    text-decoration: none;
}

.nav__links2 li a:hover {
    color: #7b7f85;
}