@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "post_header.css";
@import "post_footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
} 

body {
    background-color: #e1d7d1;
}

.grid__container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px auto;
    grid-template-areas: "A A A A"
    "B B B C";
    gap: 10px;
}

.box-1 {
    grid-area: A;
    display: flex;
    background-image: url("../BlogHomepage/images/confetti.jpg");
    background-position: bottom center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 3px;
}

.blogpost__title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

.post__info {
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.596);
    text-align: center;
}

.box-2 {
    grid-area: B;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    overflow: auto;
}

.content p {
    font-family: sans-serif;
    font-weight: 300;
}

    .content p span {
        font-weight: bold;
    }

    .content ul li {
        display: list-item;
        list-style-type: disc;
        margin-left: 3em;
    }

    .content ol li {
        margin-left: 3em;
    }

.bordered_para {
    border: solid grey 1px;
    padding-bottom: 1.2em;
}

.box-3 {
    grid-area: C;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

    .box-3 h2{
        font-style: italic;
    }

    .box-3 a {
        padding: 15px;
    }

.about {
    display: flex;
    background-color: rgba(128, 128, 128, 0.185);
    flex-direction: column;
    padding: 15px;
    font-style: italic;
    line-height: 1.5;
    align-items: center;
}

    .about p:first-of-type {
        padding-top: 10px;
    }

.linkedin {
    display: inline-block;
    color: #000000;
    font-size: 1.5em;
    cursor: pointer;
}

    .linkedin:hover {
        color: #7b7f85;
    }

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.archive__container {
    display: flex;
    flex-direction: column;
}

    .archive {
        padding: 15px;
    }

.divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(172, 165, 165, 0.555), transparent); 
}