
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #e1d7d1;
    height: 20vh;
    padding: 30px 10%;
    box-shadow: 0 17px 15px -15px gray;
}

.blog__title {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 27.7px;
    text-transform: uppercase;
    margin-right: auto;
}

.blog__title span {
    color: rgb(255,7,110);
}

.blog__title a {
    text-decoration: none;
    color: #000000;
}

.nav__links .nav__links2 {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: black;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #0088a9;
}

.search-icon {
    font-size: 1.1em;
    cursor: pointer;
}

.search-icon {
    font-size: 1.1em;
    cursor: pointer;
}

button {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.6);
}